@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");

.landing-page {
	font-family: "Oswald", sans-serif;
}

.landing-page *,
.landing-page *::before,
.landing-page *::after {
	box-sizing: border-box;
}

.landing-page .row {
	margin-right: -15px;
	margin-left: -15px;
}

.landing-page .container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.landing-page .container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.landing-page .container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.landing-page .container {
		width: 1170px;
	}
}

.landing-page .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.landing-page .col-xs-12,
.landing-page .col-sm-3,
.landing-page .col-sm-4,
.landing-page .col-sm-6,
.landing-page .col-md-3,
.landing-page .col-md-4,
.landing-page .col-md-6,
.landing-page .col-lg-1,
.landing-page .col-lg-4,
.landing-page .col-lg-6,
.landing-page .col-xs-7 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.landing-page .col-xs-12 {
	float: left;
	width: 100%;
}
.landing-page .col-xs-7 {
	float: left;
	width: 58.33333333%;
}

.landing-page .col-xs-offset-2 {
	margin-left: 16.66666667%;
}

@media (min-width: 768px) {
	.landing-page .col-sm-3 {
		float: left;
		width: 25%;
	}
	.landing-page .col-sm-4 {
		float: left;
		width: 33.33333333%;
	}
	.landing-page .col-sm-6 {
		float: left;
		width: 50%;
	}
	.landing-page .col-sm-12 {
		float: left;
		width: 100%;
	}
	.landing-page .col-sm-offset-1 {
		margin-left: 8.33333333%;
	}
}

@media (min-width: 992px) {
	.landing-page .col-md-3 {
		float: left;
		width: 25%;
	}
	.landing-page .col-md-4 {
		float: left;
		width: 33.33333333%;
	}
	.landing-page .col-md-6 {
		float: left;
		width: 50%;
	}
	.landing-page .col-md-12 {
		float: left;
		width: 100%;
	}
	.landing-page .col-md-offset-1 {
		margin-left: 8.33333333%;
	}
}

@media (min-width: 1200px) {
	.landing-page .col-lg-1 {
		float: left;
		width: 8.33333333%;
	}
	.landing-page .col-lg-4 {
		float: left;
		width: 33.33333333%;
	}
	.landing-page .col-lg-6 {
		float: left;
		width: 50%;
	}
	.landing-page .col-lg-12 {
		float: left;
		width: 100%;
	}
	.landing-page .col-lg-offset-1 {
		margin-left: 8.33333333%;
	}
}

.landing-page .pull-left {
	float: left !important;
}
.landing-page .text-center {
	text-align: center;
}
.landing-page .text-left {
	text-align: left;
}
.landing-page .col-xs-offset-2 {
	margin-left: 16.66666667%;
}
.landing-page .col-lg-offset-1 {
	margin-left: 8.33333333%;
}
.landing-page .list-unstyled {
	padding-left: 0;
	list-style: none;
}

.landing-page .lead {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 300;
	line-height: 1.4;
}

.landing-page img {
	max-width: 100%;
}

.landing-page .main-section {
	padding-top: 50px;
	padding-bottom: 80px;
}

.landing-page .main-section h1,
.landing-page .main-section h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.3em;
	color: #005589;
}

.landing-page .section-header {
	text-transform: uppercase;
	text-align: center;
	margin-top: 60px;
}

.landing-page .massive {
	font-size: 6em;
	line-height: 1.2em;
	font-weight: 700;
	display: block;
}

.landing-page .brand-primary {
	color: #005589;
}

.landing-page .relative {
	position: relative;
}

.landing-page .videoDiv {
	padding-top: 0 !important;
}

.landing-page .hero,
.landing-page .data-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.landing-page .data-section {
	color: #fff;
}

.landing-page .focusbox .focusbox-inner {
	background: #005589;
	margin: 5px;
	padding: 10px 20px 30px;
}

.landing-page .focusbox .focusbox-inner.opec {
	background: rgba(0, 85, 137, 0.5);
}

.landing-page .focusbox,
.landing-page .focusbox h2 {
	color: #fff;
}

.landing-page .focusbox h2 {
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 25px;
}

.landing-page .focusbox h3 {
	margin: 0;
}

.landing-page .focusbox a {
	color: #00c0f7;
	text-decoration: underline;
}

.landing-page .focusbox .cta {
	margin-top: 35px;
	display: block;
}

.landing-page .focusbox img {
	max-width: 100%;
}

/* Container to constrain species images to original JSP layout */
.landing-page .focusbox .focusbox-inner img {
	max-width: 100%;
	width: 400px;
	height: auto;
}

.landing-page .encounter-list li {
	clear: both;
	margin-bottom: 20px;
}

.landing-page .encounter-list img {
	margin-bottom: 5px;
}

.landing-page .encounter-list small {
	font-size: 0.8em;
	font-weight: 300;
}

.landing-page .encounter-list p {
	font-size: 1.4em;
	line-height: 1.2em;
	font-weight: 300;
}

.landing-page .encounter-list span {
	display: block;
}

.landing-page img.pull-left {
	margin-right: 15px;
}

.landing-page .img-container img {
	overflow: hidden;
	margin-bottom: 5px;
}

.landing-page #fullScreenDiv {
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
	position: relative;
}

.landing-page #video {
	width: 100vw;
	height: auto;
	object-fit: cover;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.landing-page #messageBox {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.landing-page h2.vidcap {
	font-size: 2.4em;
	color: #fff;
	font-weight: 300;
	text-shadow: 1px 2px 2px #333;
	margin-top: 35%;
}

@media screen and (min-width: 851px) {
	.landing-page h2.vidcap {
		font-size: 3.3em;
		margin-top: -45%;
	}
}

@media screen and (max-width: 850px) and (min-width: 551px) {
	.landing-page #fullScreenDiv {
		padding-top: -10px !important;
	}

	.landing-page h2.vidcap {
		font-size: 2.4em;
		margin-top: 55%;
	}
}

@media screen and (max-width: 550px) {
	.landing-page #fullScreenDiv {
		padding-top: -10px !important;
	}

	.landing-page h2.vidcap {
		font-size: 1.8em;
		margin-top: 100%;
	}
}
